<div class="fondo-div">
  <table class="table table-striped break_space">
    <thead></thead>
    <tbody>
      <tr>
        <th class="header-table-estancias">
          <h4>Registro de Posibles Empresas para Estancias Profesionales</h4>
        </th>
      </tr>
    </tbody>
  </table>

  <div class="container-fluid">
    <div class="row">
      <form role="form">
        <div class="container-fluid">
          <div class="col-md-12">



            <div class="row fondo-info-empresa">
              <div class="col-md-12">
                <h4 class="color-texto">Datos de la Empresa</h4>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label" for="field1">Nombre*</label>
                  <input id="field1" type="text" class="form-control" placeholder="Nombre de la Empresa" name="nombre_empresa">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="field6">Giro*</label>
                  <input id="field6" type="text" class="form-control"></span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="field5">Sector*</label>
                  <select id="field5" class="form-control"selected="selected">
                    <option value="Option 1">Privado</option>
                    <option value="Option 2">Público</option>
                    <option value="Option 3">Social No Lucrativo</option>
                    <option value="Option 4">Social Lucrativo</option>
                    <option value="Option 5">UTM</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label" for="field7">Teléfono(s)</label>
                    <input id="field7" type="text" class="form-control"></span>
                  </div>
                </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label" for="field6">Dirección</label>
                  <input id="field6" type="text" class="form-control"></span>
                </div>
              </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="field7">Estado</label>
                    <select id="field5" class="form-control"selected="selected">
                      <option value="Option 1">Oaxaca</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="field7">Ciudad</label>
                    <input id="field7" type="text" class="form-control"></span>
                  </div>
                </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label class="control-label" for="field7">Sitio Web/Facebook Page</label>
                <input id="field7" type="text" class="form-control"></span>
              </div>
            </div>
            <br>
            <div class="row fondo-info-empresa">
              <div class="col-md-12">
                <h4 class="color-texto">Datos del Representante Legal</h4>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="field4">Nombre</label>
                  <input id="field4" type="text" class="form-control"></span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="field4">Cargo</label>
                  <input id="field4" type="text" class="form-control"></span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label class="control-label" for="field5">Departamento/Área</label>
                  <input id="field5" type="text" class="form-control"></span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="field6">Email</label>
                  <input id="field6" type="text" class="form-control"></span>
                </div>
              </div>
            </div>

            <div class="row fondo-info-empresa">
              <div class="col-md-12">
                <h4 class="color-texto">Datos </h4>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="field2">Nombre *</label>
                  <input id="field2" type="text" class="form-control" name="nombre_contacto">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="field3">Cargo </label>
                  <input id="field3" type="text" class="form-control">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label class="control-label" for="field4">Departamento/Área </label>
                  <input id="field4" type="text" class="form-control"></span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label" for="field5">Email </label>
                  <input id="field5" type="text" class="form-control"></span>
                </div>
              </div>
            </div>

            <div class="row fondo-info-empresa">
              <div class="col-md-12">
                <h4 class="color-texto">Otros</h4>
              </div>
            </div>
            <br>




          <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label" for="field34">Comentarios</label>
                  <textarea id="field34" rows="3" class="form-control comentario"></textarea>
                </div>
              </div>
          </div>





          <div class="row">
            <div class="col-md-12">
              <div class="form-group pull-right">
                <button id="button36" type="button" class="btn btn-info">Enviar</button>
              </div>
            </div>
          </div>


          </div>
      </div>
    </form>
  </div>
  </div>
</div>
