<table class="table table-striped ">
  <thead></thead>
  <tbody>
  <tr>
    <th class="header-table-estancias">Requisitos </th>
  </tr>
  <tr>
    <td class="table-estancias">
      <ul type="square" style="margin-left:4em">
        <li>Tramitar en el IMSS / ISSSTE el Carnet de citas (entregar una copia a la coordinación de Estancia Profesional)</li>
        <li>Tramitar su CONSTANCIA DE VIGENCIA DE DERECHOS del IMSS o ISSSTE en el área de servicios de AFILIACIÓN-VIGENCIA DE DERECHOS correspondiente. (entregar una copia a la coordinación de Estancia Profesional)</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">Procedimiento</th>
  </tr>
  <tr>
    <td class="table-estancias">
      <ol style="margin-left:3em; font-weight:bold; color:#924d77; font-size:16px;">
        <li value="1"><span class="lista_ordenada">Envía tu Currículo Vitae al correo electrónico de cvi_utm@mixteco.utm.mx , en asunto indicar nombre, apellidos y grupo. Ejemplo: Olga Ibáñez Álvarez - 605</span></li>
        <li><span class="lista_ordenada">Alumnos de Ingeniería en Diseño integrar su portafolio de trabajos, para cuando se les solicite.</span></li>
        <li><span class="lista_ordenada">Selecciona ó propone de dos ó tres empresas a partir del <%= (@fecha_opciones_inicio == nil) ? "No Registrado": (l @fecha_opciones_inicio) %> al <%= (@fecha_opciones_fin == nil) ? "No Registrado": (l @fecha_opciones_fin) %>.</span></li>
        <li><span class="lista_ordenada">Publicación del listado de las empresas en donde los aceptaron para realizar un periodo de Estancia Profesional. A partir del 17 de Junio en el pizarrón de avisos de la coordinación de Estancia Profesional, Servicio Social, Viaje de Prácticas Escolares, Bolsa de Trabajo y Seguimiento a Egresados.</span></li>
        <li><span class="lista_ordenada">Entrega de documentación correspondiente para el Inicio de Estancia Profesional. (Oficio de presentación y de descuento de transporte)</span></li>
        <li><span class="lista_ordenada">Al finalizar el Periodo de Estancia Profesional deberá entregar a la Coordinación de Estancias Profesionales los documentos siguientes en un plazo no mayor a 10 días hábiles.</span></li>
      </ol>
    </td>
  </tr>
  </tbody>
</table>
