<div class="espacio">
  <div class="well">
    <div class="row form-horizontal">
      <%= form_tag({:action => 'actualizar_password', :controller => "admin"},  :id => "reinicia_cuenta_form", :multipart => true) do %>
        <div class="form-group">
          <label class="control-label col-sm-2" for="email">Nueva Contraseña:</label>
          <div class="col-sm-8">
            <%= text_field_tag :password, nil, :maxlength => 18, :size => 25, :class => "form-control", :type => "password" %>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="email">Confirmar Contraseña:</label>
          <div class="col-sm-8">
            <%= text_field_tag :password_confirmation, nil, :maxlength => 18, :size => 25, :class => "form-control", :type => "password" %>
          </div>
          <div class="col-sm-2">
            <%= submit_tag "Guardar", :id => 'enviar_matricula', :name => 'Btn_reinicia', :class => "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>