<table class="table table-striped break_space">
  <thead></thead>
  <tbody>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="1">Solicitud para realizar Estancias Profesionales.</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      Esta solicitud la entrega el alumno (a) a la Coordinación de estancias profesionales cuyos datos que contiene son los siguientes:
      <ul type="square" style="margin-left:4em">
        <span>a. Datos del Alumno</span>
        <ul type="square" style="margin-left:4em">
          <li>Nombre del alumno (a)</li>
          <li>Matricula UNSIJ</li>
          <li>Grupo</li>
          <li>Carrera</li>
          <li>Número de seguro social</li>
          <li>Número de CURP</li>
          <li>E-mail</li>
          <li>Dirección actual</li>
          <li>Dirección de lugar de procedencia</li>
          <li>Teléfono</li>
          <li>Lugar y fecha de nacimiento</li>
          <li>Idioma o lengua materna</li>
        </ul>

        <span>b. Datos de la Empresa</span>
        <ul type="square" style="margin-left:4em">
          <li>Nombre de la empresa</li>
          <li>Área de interés</li>
          <li>Dirección</li>
          <li>Carta de presentación dirigida a...</li>
          <li>Cargo en la empresa</li>
          <li>Teléfono</li>
          <li>E-mail</li>
          <li>Página Web</li>
          <li>Firma y fecha en que se entrega esta solicitud</li>
        </ul>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="2">Solicitud de oficio de aceptación de EP.</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      El alumno (a) solicitará a la estancia receptora este documento, en hoja membretada de la Empresa y sello, donde la empresa expresa formalmente que acepta al alumno (a) para realizar las Estancias Profesionales, este documento debe contener la siguiente información:
      <ul type="square" style="margin-left:4em">
        <li>Asunto</li>
        <li>Fecha</li>
        <li>Nombre de Responsable de EP</li>
        <li>Institución</li>
        <li>Lugar a donde envía (UNSIJ)</li>
        <li>Nombre del alumno</li>
        <li>Lugar de Estancia Profesional</li>
        <li>Fecha de inicio de la EP, indicando día, mes y año</li>
        <li>Título del proyecto en el que se involucra el alumno (a)</li>
        <li>Nombre de la persona que estará a cargo o supervisión el alumno (a)</li>
        <li>Firma del jefe inmediato superior de la EP</li>
      </ul>
    </td>
  </tr>

  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="3">Reporte Semanal de Estancia Profesional.</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      El alumno durante el desarrollo de la estancia elaborará reportes semanales y enviará a la coordinación (correo electrónico) el primer reporte. Contiene los siguientes datos:
      <ul type="square" style="margin-left:4em">
        <li>Numero de reporte</li>
        <li>Empresa o institución</li>
        <li>Jefe inmediato superior</li>
        <li>Nombre del alumno (a)</li>
        <li>Carrera</li>
        <li>Semestre</li>
        <li>Inicio y término de la semana</li>
        <li>Horario</li>
        <li>Total de horas trabajadas</li>
        <li>Descripción de funciones durante la semana y comentarios</li>
      </ul>
        Para que tenga validez el formato deberá ser firmado y sellado por el jefe inmediato superior, así como del alumno.
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="4">Formato de Control Final de Estancia Profesional, por periodo.</li>
      </ol>
    </th>
  <tr>
    <td class="table-estancias">
      Es una evaluación de su desempeño y deberá llenarlo al final de las Estancias Profesionales, su jefe inmediato.
    </td>
  </tr>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="5">Oficio de Liberación de Estancia Profesional (terminación).</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      El alumno solicitará al término de su estancia la carta de liberación de estancias profesionales. Este documento se debe entregar en original, con hoja membretada de la Empresa y sello, con la siguiente información:
      <ul type="square" style="margin-left:4em">
        <li>Asunto</li>
        <li>Dirigido a nombre de responsable de EP</li>
        <li>Lugar de la Institución (UNSIJ)</li>
        <li>Nombre del alumno (a)</li>
        <li>Matrícula</li>
        <li>Carrera</li>
        <li>Lugar donde se realizó la EP</li>
        <li>Nombre del proyecto</li>
        <li>Periodo en que realizo la EP: indicando día, mes y año</li>
        <li>Total, de horas realizadas en el periodo de EP</li>
        <li>Firma del jefe inmediato superior de la EP</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="6">Informe Final.</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      Este documento se debe entregar al Coordinador de EP de acuerdo al siguiente contenido:
      <ul type="square" style="margin-left:4em">
        <li>Portada</li>
        <li>Índice</li>
        <li>Introducción</li>
        <li>Caracterización del área en la que participó</li>
        <li>Procedimiento y descripción de las actividades realizadas</li>
        <li>Conclusiones y recomendaciones</li>
        <li>Mínimo 8 cuartillas</li>
        <li>Interlineado 1.5 entre líneas</li>
        <li>Tipo de letra: Times New Roman</li>
        <li>Número de letra: 12</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
          Normatividad.
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      Para que el alumno valide y culmine la Estancia Profesional debe concluir los dos periodos de EP además de entregar toda la documentación completa y en original, debidamente requisitada, según se indicó en cada apartado de lo que se entrega a la Coordinación.
    </td>
  </tr>
  </tbody>
</table>