<table class="table table-striped break_space">
  <thead></thead>
  <tbody>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="1">Acuse del oficio de presentación por parte de la empresa receptora.</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias" style="text-align: justify">
      <ul type="square" style="margin-left:4em">
        <li>Nombre de quien recibe</li>
        <li>Fecha en que recibe</li>
        <li>Firma</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="2">Oficio de aceptación emitido por la empresa.</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias" style="text-align: justify">
      Solicitar oficio de aceptación en hoja con membrete de la empresa y sello, en donde la empresa expresa formalmente que los acepta para realizar Estancias Profesionales, este oficio debe contener:
      <ul type="square" style="margin-left:4em">
        <li>Nombre</li>
        <li>Matrícula</li>
        <li>Carrera</li>
        <li>Semestre</li>
        <li>Período en el que realizarán sus Estancias Profesionales: indicando día, mes y año</li>
      </ul>
    </td>
  </tr>

  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="3">Reportes parciales de las actividades realizadas.</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias" style="text-align: justify">
      Reporte Semanal de Estancia Profesional
      <ul type="square" style="margin-left:4em">
        <li>Fechas de inicio y término de la semana</li>
        <li>Horario (puede haber varios horarios en una semana)</li>
        <li>Total de horas</li>
        <li>Descripción de las funciones realizadas</li>
        <li>Firma y sello por el jefe inmediato superior</li>
        <li>Firma del alumno</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="4">Evaluación final por parte de la empresa, en sobre cerrado con sello oficial.</li>
      </ol>
    </th>
  <tr>
    <td class="table-estancias" style="text-align: justify">
      Formato de Evaluación Final de Estancias Profesionales por periodo
      <ul type="square" style="margin-left:4em">
        <li>Es una evaluación de su desempeño y deberá llenarlo al final de las Estancias Profesionales su jefe inmediato</li>
        <li>Firma y sello por el jefe inmediato superior</li>
        <li>Fecha</li>
      </ul>
    </td>
  </tr>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="5">Oficio de terminación emitido por la empresa.</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias" style="text-align: justify">
      Oficio de Terminación de Estancia Profesional, en hoja con membrete de la empresa y sello, con la siguiente información:
      <ul type="square" style="margin-left:4em">
        <li>Nombre</li>
        <li>Matrícula</li>
        <li>Carrera</li>
        <li>Semestre</li>
        <li>Período en el que realizó Estancia Profesional: indicando día, mes y año de inicio y fin</li>
        <li>Total de horas realizadas en el periodo de Estancias Profesionales</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="6">Informe final con el visto bueno de la Jefatura de Carrera.</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias" style="text-align: justify">
      <ul type="square" style="margin-left:4em">
        <li>Portada, Tabla de Contenido, Introducción</li>
        <li>Caracterización del área</li>
        <li>Procedimiento y descripción de las actividades realizadas</li>
        <li>Conclusiones y recomendaciones</li>
        <li>Anexo</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
      Normatividad
    </th>
  </tr>
  <tr>
    <td class="table-estancias" style="text-align: justify">
      De acuerdo con el Reglamento de Alumnos, en el capítulo II de las estancias profesionales, en el ARTÍCULO 95, al finalizar cada periodo de Estancia Profesional el alumno deberá entregar al Departamento de Servicios Escolares la documentación antes listada, en un plazo no mayor a 10 días hábiles
      <ul type="square" style="margin-left:4em">
        <li>Iniciado el semestre A, en caso de estancia en verano normal</li>
        <li>Después de la fecha carta de terminación de la estancia, en caso de estancia extemporánea</li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>