<table class="table table-striped break_space">
  <thead></thead>
  <tbody>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="1">Acuse de oficio de presentación:</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      <ul type="square" style="margin-left:4em">
        <li>Nombre de quien recibe</li>
        <li>Fecha en que recibe</li>
        <li>Firma</li>
        <li>Sello de la empresa</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="2">Solicitar un oficio de aceptación en hoja con membrete de la empresa y sello, en donde la empresa expresa formalmente que los acepta para realizar Estancias Profesionales, este oficio debe contener:</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      <ul type="square" style="margin-left:4em">
        <li>Nombre</li>
        <li>Matrícula</li>
        <li>Número de IMSS , ISSSTE, PROSPERA</li>
        <li>Carrera, semestre</li>
        <li>Periodo en el que realizarán sus Estancias Profesionales: Indicando día, mes y año</li>
        <li>Nombre del jefe inmediato</li>
      </ul>
      <b>Nota:</b> En caso de que la empresa no cuente con sello, entregar un escrito expedido por la empresa, donde mencionen los motivos por los cuales no cuentan con sello.
    </td>
  </tr>

  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="3">Reporte quincenal de Estancia Profesional</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      Estos formatos deberán tener claramente establecido el inicio y terminó de la quincena, el horario, total de horas, descripción de las funciones realizadas. Para que tenga validez el formato deberá estar firmando y sellado por el jefe inmediato superior, así como del alumno.
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="4">Formato de Evaluación Final de Estancias Profesionales por periodo</li>
      </ol>
    </th>
  <tr>
    <td class="table-estancias">
      <ul type="square" style="margin-left:2em;">
        <li>Es una evaluación de su desempeño y deberá llenarlo al final de las Estancias Profesionales, su jefe inmediato, colocando nombre, firma, sello y fecha.</li>
        <li>El formato contiene en el encabezado datos de la empresa (nombre, área, dirección, teléfono, correo electrónico, página web, nombre del jefe inmediato superior), así como datos del alumno (nombre, carrera, semestre, periodo de estancias, horario, total de horas trabajadas) y descripción general de funciones asignadas al alumno.</li>
      </ul>
    </td>
  </tr>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="5">Oficio de Terminación de Estancia Profesional, en hoja con membrete de la empresa y sello, con la siguiente información:</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      <ul type="square" style="margin-left:4em">
        <li>Nombre</li>
        <li>Matrícula</li>
        <li>Número de IMSS o ISSSTE</li>
        <li>Carrera</li>
        <li>Semestre</li>
        <li>Periodo en el que realizó Estancia Profesional: indicando día, mes y año.</li>
        <li>Total de horas realizadas en el periodo de Estancias Profesionales.</li>
        <li>Nombre del jefe inmediato</li>
      </ul>
      <b>Nota:</b> En caso de que la empresa no cuente con sello, se les pide que entreguen un escrito expedido por la empresa, donde mencionen los motivos por los cuales no cuentan con sello.
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="6">Informe Final</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      <ul type="square" style="margin-left:4em">
        <li>No más de dos cuartillas</li>
        <li>Interlineado de espacio y medio</li>
        <li>Tipo de letra: Time New Roman</li>
        <li>Número de letra: 12</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="7">Cuestionario de resultados, con fotografía anexa.</li>
      </ol>
    </th>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="8">Enviar la fotografía de la empresa en donde realizó su Estancia Profesional al correo electrónico: estancias.nova@gmail.com</li>
      </ol>
    </th>
  </tr>
  <tr>
    <th class="header-table-estancias">
          Normatividad.
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      Artículo 95, capítulo II de la estancia profesional, Reglamento de Alumnos de Licenciatura.- Al finalizar cada periodo de Estancia Profesional el alumno deberá entregar al Departamento de Servicios Escolares, en un plazo no mayor a 10 días hábiles, los siguientes documentos:
      <ol type="a" style="margin-left:4em">
        <li>Acuse del oficio de presentación por parte de la empresa receptora.</li>
        <li>Oficio de aceptación emitido por la empresa.</li>
        <li>Reportes parciales de las actividades realizadas.</li>
        <li>Evaluación final por parte de la empresa, en sobre cerrado con sello oficial.</li>
        <li>Oficio de terminación emitido por la empresa.</li>
        <li>Informe final con el visto bueno de la Jefatura de Carrera.</li>
      </ol>
      Artículo 96, capítulo II de la estancia profesional, Reglamento de Alumnos de Licenciatura.- Se expedirá la constancia de Estancia Profesional cuando el alumno haya integrado en tiempo y forma los documentos especificados en el artículo anterior, que comprueben el cumplimiento satisfactorio de la actividad.
    </td>
  </tr>

  </tbody>
</table>