<table class="table table-striped break_space">
  <thead></thead>
  <tbody>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="1">Acuse de oficio de presentación</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      <ul type="square" style="margin-left:4em">
        <li>Nombre de quien recibe</li>
        <li>Fecha en que se recibe</li>
        <li>Firma</li>
        <li>Sello</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="2">Oficio de aceptación</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      No hay formato único, es un escrito libre para cada empresa.
      <ul type="square" style="margin-left:4em">
        <li>Nombre</li>
        <li>Matrícula</li>
        <li>Carrera</li>
        <li>Semestre</li>
        <li>Periodo que abarcará la estancia profesional</li>
      </ul>
    </td>
  </tr>

  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="3">Reportes parciales de estancia profesional</li>
      </ol>
    </th>
  </tr>

  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="4">Formato de evaluación final</li>
      </ol>
    </th>
  </tr>

  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="5">Oficio de terminación de estancia profesional</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      Es un escrito libre, no hay formato.
      <ul type="square" style="margin-left:4em">
        <li>Nombre</li>
        <li>Matrícula</li>
        <li>Carrera</li>
        <li>Semestre</li>
        <li>Periodo que abarcó la estancia profesional</li>
        <li>Total de horas realizadas</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="6">Informe final</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      Dispondrán de 10 días hábiles a partir de la fecha en que concluyeron las actividades en la empresa o institución, sin prórroga alguna para la entrega de un Informe Final escrito (en archivo .pdf). La presentación del informe final escrito consta de un engargolado con portada transparente, en el cual se incluya los siguientes puntos:
      <ul type="I" style="margin-left:4em">
        <li>Portada (única a proporcionar por la Coordinación de Estancias)</li>
        <li>Índice</li>
        <li>Introducción</li>
        <li>Caracterización del área en la que participó (datos generales y valoración de la empresa u organismo, descripción específica del área o áreas en las que practicaron)</li>
        <li>Procedimiento y descripción detallada de las actividades realizadas durante su Estancia (plasmar en forma clara este apartado, si hubiesen desarrollado algún producto final hay que insertarlo o en su caso algún material de apoyo utilizado durante la misma; todo bajo la autorización de la empresa u organismo)</li>
        <li>Conclusiones y recomendaciones de la experiencia en la empresa u organismo</li>
        <li>Bibliografía (si fuera necesario y en formato APA)</li>
      </ul>
      <br>
      Consideraciones para el informe final:
      <ul type="A" style="margin-left:4em">
        <li>Cuartillas: El documento deberá estar en tamaño carta, al menos deberá contener 10 cuartillas, sin errores de ortografía, el margen izquierdo será de 3.5 cm y 2.5 cm para el resto del documento (márgenes superior, inferior y derecho) y contar con número de páginas al final de cada hoja en formato simple</li>
        <li>Interlineado: espaciado entre líneas y párrafos a “1.5”</li>
        <li>Tipo de letra: sólo tipo de letra Arial y tamaño de fuente número “12”</li>
        <li>Número de letra: títulos en tamaño número “14” y subtítulos en tamaño número “13”</li>
      </ul>
    </td>
  </tr>

  <tr>
    <th class="header-table-estancias">
      Normatividad
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      La actividad académica de Estancias Profesionales estará regulado según los artículos 90 al 98 del Reglamento de Alumnos de Licenciatura de la UNCOS, los cuales avalan el cumplimiento satisfactorio de la actividad o en su defecto, las causas de su anulación o cancelación.
    </td>
  </tr>

  <tr>
    <th class="footer-table-estancias">
      <span class="note">NOTA:</span> No se recibirá documentación incompleta
    </th>
  </tr>
  </tbody>
</table>