<table class="table table-striped break_space">
  <thead></thead>
  <tbody>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="1">Solicitud para la realización de Estancias Profesionales</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      <ul type="square" style="margin-left:4em">
        <li>El alumno propone la empresa o institución donde hará la Estancia Profesional.</li>
        <li>Se entrega con visto bueno de jefatura de carrera.</li>
        <li>Necesaria para la emisión del oficio de presentación.</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="2">Acuse de oficio de presentación</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      Debe incluir
      <ul type="square" style="margin-left:4em">
        <li>Fecha en que se recibe</li>
        <li>Firma</li>
        <li>Sello de la empresa o institución</li>
      </ul>
    </td>
  </tr>

  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="3">Oficio de aceptación emitido por la empresa o institución</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      Se solicita en hoja membretada y con sello de la empresa o institución.
      <br>Debe incluir los siguientes datos:
      <ul type="square" style="margin-left:4em">
        <li>Nombre</li>
        <li>Matricula</li>
        <li>Licenciatura y semestre</li>
        <li>Periodo en el que se realizará la Estancia Profesional (indicando día, mes y año)</li>
        <li>Área o departamento asignado</li>
        <li>Jefe inmediato o responsable</li>
        <li>Horario en el que asistirá a la empresa o institución</li>
        <li>Descripción de las actividades que desempeñará</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="4">Reporte semanal de Estancia Profesional</li>
      </ol>
    </th>
  <tr>
    <td class="table-estancias">
      <ul type="square" style="margin-left:4em">
        <li>Es requisitado por el alumno incluyendo en la parte superior derecha el número de reporte.</li>
        <li>Debe estregarse firmado y sellado por el jefe inmediato e incluir la firma del alumno.</li>
      </ul>
    </td>
  </tr>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="5">Formato de evaluación final de Estancias Profesionales</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      <ul type="square" style="margin-left:4em">
        <li>Es una evaluación del desempeño del alumno durante la Estancia Profesional, que requisita el jefe inmediato.</li>
        <li>Se entrega en sobre cerrado y con sello oficial de la empresa o institución</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="6">Oficio de terminación</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
        Se solicita en hoja membretada y con sello de la empresa o institución.
        <br>Debe incluir los siguientes datos:
      <ul type="square" style="margin-left:4em">
        <li>Nombre</li>
        <li>Matricula</li>
        <li>Licenciatura y semestre</li>
        <li>Periodo en el que se realizó las Estancia Profesional (indicando día, mes y año)</li>
        <li>Área o departamento asignado</li>
        <li>Jefe inmediato o responsable</li>
        <li>Horario en el que asistió a la empresa o institución</li>
        <li>Descripción de las actividades que desempeñó</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="7">Informe final</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      Documento que señala de manera organizada y con secuencia lógica las
      actividades realizadas durante la Estancia Profesional.
      <ul type="square" style="margin-left:4em">
        <li>Mínimo 10 cuartillas y debidamente paginado.</li>
        <li>La estructura del reporte será: portada, indice, introducción, información general de la empresa o institución, información particular del área o departamento, actividades realizadas, conclusión, fuentes consultadas y anexos.</li>
        <li>Se entrega con visto bueno de jefatura de carrera.</li>
        </ul>
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="8">Normatividad</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      Las Estancias Profesionales se realizan de acuerdo al Programa Institucional de Estancias Profesionales que se basa en lo establecido en el Capítulo II De la Estancia Profesional, del Título VI, del Reglamento de Alumnos de Licenciatura, en su artículo 95 dispone que al finalizar cada periodo de Estancia Profesional el alumno deberá entregar al Departamento de Servicios Escolares, en un plazo no mayor a 10 días hábiles, los siguientes documentos:
      <ol type="a" style="margin-left:4em">
        <li>Acuse del oficio de presentación por parte de la empresa receptora.</li>
        <li>Oficio de aceptación emitido por la empresa.</li>
        <li>Reportes parciales de las actividades realizadas.</li>
        <li>Evaluación final por parte de la empresa, en sobre cerrado con sello oficial.</li>
        <li>Oficio de terminación emitido por la empresa.</li>
        <li>Informe final con el visto bueno de la Jefatura de Carrera.</li>
      </ol>
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="9">Documentación que entrega la Coordinación de Estancias Profesionales</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      <ul type="square" style="margin-left:4em">
        <li>Oficio de presentación</li>
        <li>Constancia de Estancia Profesional</li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>