<table class="table table-striped break_space">
  <thead></thead>
  <tbody>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="1">Acuse de oficio de presentación:</li>
      </ol>
    </th>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="2">Solicitar un oficio de aceptación en hoja con membrete de la empresa y sello, en donde la empresa expresa formalmente que los acepta para realizar Estancias Profesionales, este oficio debe contener:</li>
      </ol>
    </th>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="3">Reporte Semanal de Estancia Profesional.</li>
      </ol>
    </th>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="4">Formato de Evaluación Final de Estancias Profesionales por periodo. </li>
      </ol>
    </th>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="5">Oficio de Terminación de Estancia Profesional, en hoja con membrete de la empresa y sello, con la siguiente información:</li>
      </ol>
    </th>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="6">Informe Final:</li>
      </ol>
    </th>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="7">Cuestionario de resultados, con fotografía anexa.</li>
      </ol>
    </th>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="8">Enviar la fotografía de la empresa en donde realizó su Estancia Profesional al correo electrónico: cvi_utm@mixteco.utm.mx</li>
      </ol>
    </th>
  </tr>
  <tr>
    <th class="header-table-estancias">
      Normatividad
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      <ol type="I" style="margin-left:4em">
        <li>Durante el desarrollo de la estancia profesional, el alumno deberá enviar por correo electrónico a la Coordinación, los tres reportes parciales de actividades, indicando las horas cubiertas y actividades realizadas, debiendo estar firmado y sellado dicho reporte por su jefe inmediato. Al término del período, y antes de que el alumno regrese a Chalcatongo de Hidalgo, con el objetivo de evitarle gastos en caso de que se requiera alguna corrección en los documentos, el estudiante debe enviar por correo electrónico la evaluación final, así como la carta de terminación de la estancia profesional, con el propósito de verificar que la suma de las horas reportadas en los tres informes coincida con el total de horas reportadas en la evaluación final y en la carta de terminación, así como también verificar que la información plasmada en los documentos sea la correcta y se encuentre validada mediante impresión de sello.</li>
        <li>Es menester señalar que, a partir del verano 2019, los estudiantes están enviando a la Coordinación, junto con el reporte parcial de actividades, los formatos de evaluación de su desempeño en tres aspectos, habilidades conceptuales y técnicas, y habilidades humanas, con la finalidad de retroalimentar al alumno y orientarlo en la mejora de sus habilidades durante la ejecución de la estancia. Dichos formatos de evaluación forman parte de una carpeta de control diseñada por la Coordinación para que el alumno la vaya requisitando con información de la Universidad de Chalcatongo, la Licenciatura en Administración, así como de la empresa o institución donde se esté desempeñando, y esto pueda permitir mejores resultados en la evaluación final.</li>
        <li>Una vez realizado esta verificación y no habiendo algún inconveniente relacionado, se le recuerda al alumno que cuenta con diez días hábiles a partir de la fecha en que culmina la estancia profesional, para presentarse y entregar físicamente a la Coordinación toda la documentación indicada en el artículo número 95 del RAL, siendo estos, acuse del oficio de presentación por parte de la empresa receptora, oficio de aceptación emitido por la empresa, reportes parciales de las actividades realizadas, evaluación final por parte de la empresa, en sobre cerrado con sello oficial, oficio de terminación emitido por la empresa, informe final con el visto bueno de la Jefatura de Carrera, y finalmente, el cuestionario de resultados.</li>
      </ol>
    </td>
  </tr>
  </tbody>
</table>