<table class="table table-striped break_space">
  <thead></thead>
  <tbody>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="1">Acuse de oficio de presentación:</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      <ul type="square" style="margin-left:4em">
        <li>Nombre de quien recibe</li>
        <li>Fecha en que recibe</li>
        <li>Firma</li>
        <li>Sello de la empresa</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="2">2. Solicitar un oficio de aceptación en hoja con membrete de la empresa y sello, en donde la empresa expresa formalmente que los acepta para realizar Estancias Profesionales, este oficio debe contener:</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      <ul type="square" style="margin-left:4em">
        <li>Su nombre</li>
        <li>Su matrícula</li>
        <li>Número de IMSS o ISSSTE</li>
        <li>Carrera, semestre</li>
        <li>Periodo en el que realizarán sus Estancias Profesionales: indicando día, mes y año</li>
      </ul>
    </td>
  </tr>

  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="3">Reporte Semanal de Estancia Profesional.</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      Estos formatos deberán tener claramente establecido el inicio y término de la semana, el horario, total de horas, descripción de las funciones realizadas. Para que tenga validez el formato deberá estar firmado y sellado por el jefe inmediato superior, así como del alumno.
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="4">Formato de Evaluación Final de Estancias Profesionales por periodo.</li>
      </ol>
    </th>
  <tr>
    <td class="table-estancias">
      Es una evaluación de su desempeño y deberá llenarlo al final de las Estancias Profesionales, su jefe inmediato.
    </td>
  </tr>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="5">Oficio de Terminación de Estancia Profesional, en hoja con membrete de la empresa y sello, con la siguiente información:</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      <ul type="square" style="margin-left:4em">
        <li>Nombre</li>
        <li>Matrícula</li>
        <li>Número de IMSS o ISSSTE</li>
        <li>Carrera</li>
        <li>Semestre</li>
        <li>Periodo en el que realizó Estancia Profesional: indicando día, mes y año</li>
        <li>Total de horas realizadas en el periodo de Estancias Profesionales</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="6">Informe Final:</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      <ul type="square" style="margin-left:4em">
        <li>No más de dos cuartillas</li>
        <li>Interlineado de espacio y medio</li>
        <li>Tipo de letra: Times New Roman</li>
        <li>Número de letra: 12</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="7">Cuestionario de resultados, con fotografía anexa.</li>
      </ol>
    </th>
  </tr>
  </tbody>
</table>