<table class="table table-striped break_space">
  <thead></thead>
  <tbody>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="1">Acuse de oficio de presentación</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      <ul type="square" style="margin-left:4em">
        <li>Nombre de quien recibe</li>
        <li>Fecha en que recibe</li>
        <li>Firma</li>
        <li>Sello de la empresa (opcional)</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="2">Solicitar un oficio de aceptación</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      <ul type="square" style="margin-left:4em">
        <li>Oficio en hoja membrete de la empresa Firma y sello (opcional)</li>
        <li>Nombre del alumno</li>
        <li>Matrícula</li>
        <li>Carrera</li>
        <li>Semestre</li>
        <li>Periodo en el que realizarán su Estancias Profesionales, indicando día, mes y año</li>
        <li>Horario</li>
        <li>Total de horas</li>
      </ul>
    </td>
  </tr>

  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="3">Programa y Cronograma de trabajo</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      A) Programa de Trabajo
      <ul type="square" style="margin-left:4em">
        <li>Nombre del alumno</li>
        <li>Nombre de la empresa</li>
        <li>Área en la que colaborará</li>
        <li>Horario</li>
        <li>Período de la Estancia</li>
        <li>Objetivo General</li>
        <li>Objetivo(s) específicos</li>
        <li>Planteamiento de estrategias</li>
        <li>Descripción de la aplicación de los conocimientos en las actividades a desarrollar dentro del área de trabajo, de acuerdo al objetivo general y objetivos específicos</li>
      </ul>
      B) Cronograma de Actividades
      <ul type="square" style="margin-left:4em">
        <li>Relación de los objetivos específicos</li>
        <li>Tiempos calculados para el cumplimiento de estos objetivos</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="4">Reporte Quincenal de Estancia Profesional</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      El formato deberá tener claramente:
      <ul type="square" style="margin-left:4em">
        <li>Número de reporte</li>
        <li>Inicio y término de la quincena</li>
        <li>Nombre del alumno</li>
        <li>Nombre de la Institución</li>
        <li>Dirección de la Institución</li>
        <li>Área en la cual realizará la Estancia Profesional</li>
        <li>Nombre del jefe inmediato</li>
        <li>Teléfono del jefe inmediato</li>
        <li>Correo electrónico del jefe inmediato</li>
        <li>Enlistar las actividades realizadas durante el periodo</li>
        <li>Firma y sello (opcional) del jefe inmediato</li>
      </ul>
    </td>
  </tr>

  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="5">Formato de Evaluación Final de Estancias Profesionales por periodo</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      Es una evaluación del desempeño áreas académicas y personales, el cual deberá ser llenarlo al final de las Estancias Profesionales por su jefe inmediato.
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="6">Oficio de terminación de Estancia Profesional</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      <ul type="square" style="margin-left:4em">
        <li>Deberá ser en hoja con membrete de la empresa y con sello (opcional)</li>
        <li>Nombre del alumno</li>
        <li>Matrícula</li>
        <li>Carrera</li>
        <li>Semestre</li>
        <li>Total de horas cubiertas</li>
        <li>Área en la cual realizó la Estancia Profesional</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="7">Informe Final</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      <ul type="square" style="margin-left:4em">
        <li>Portada</li>
        <li>Índice</li>
        <li>Introducción (1 cuartilla mínimo)</li>
        <li>Caracterización del área en la que participó (datos generales y valoración de la empresa u organismo, descripción específica del área o áreas en las que practicaron)</li>
        <li>Procedimiento y descripción detallada de las actividades realizadas durante su Estancia (plasmar en forma clara este apartado, si hubiesen desarrollado algún producto final hay que insertarlo o en su caso algún material de apoyo utilizado durante la misma; todo bajo la autorización de la empresa u organismo)</li>
        <li>Conclusiones (1 cuartilla mínimo)</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
      <ol style="margin-left:2em;">
        <li value="8">Cuestionario de resultados</li>
      </ol>
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      El alumno deberá entregar el formato contestando las preguntas.
    </td>
  </tr>
  <tr>
    <th class="header-table-estancias">
      Reglamento del Alumno de Licenciatura
    </th>
  </tr>
  <tr>
    <td class="table-estancias">
      Artículo 95.- Al finalizar cada periodo de Estancia Profesional el alumno deberá entregar al Departamento de Servicios Escolares, en un plazo no mayor a 10 días hábiles, los siguientes documentos:
      <ol type="a" style="margin-left:4em">
        <li>Acuse del oficio de presentación por parte de la empresa receptora.</li>
        <li>Oficio de aceptación emitido por la empresa</li>
        <li>Reportes parciales de las actividades realizadas.</li>
        <li>Evaluación final por parle de la empresa, en sobre cerrado con sello olida'.</li>
        <li>Oficio de terminación emitido por la empresa.</li>
        <li>Informe final con el visto bueno de la Jefatura de Carrera.</li>
      </ol>
    </td>
  </tr>

  <tr>
    <th class="footer-table-estancias">
      <span class="note">NOTA:</span> No se recibirá documentación incompleta
    </th>
  </tr>
  </tbody>
</table>